
*{
    margin: 0px;
    padding: 0px;
}

img, fieldset{
    padding: 0px;
    border: none;
}

p img { float: right; width: 900px; }

a{
    color: #033081;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #0053EB;
}

body{	
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
    background: #F8F8F8 /*url(images/bg.jpg) no-repeat top center*/;
	line-height:22px
}

h2{
	font: 18px Arial, Helvetica, sans-serif;
    color: #ffffff;
	font-weight: normal;
	padding-bottom: 43px;
}

h3{
	font: 18px Arial, Helvetica, sans-serif;
    color: #ffffff;
	font-weight: normal;
	line-height: 50px;
	
}

.clear{
	clear: both;	
}

/*
	menu
*/

#menu_bg{
	height: 60px;
	background: F8F8F8;
}

#menu{
	width: 900px;
	margin: 0 auto;
}

#menu ul{
	padding-left: 0px;
    list-style: none;
	float: left;
}

#menu ul li{
	display: inline;
	display: block;
	float: left;
	background: F8F8F8;
	height: 60px;
}
/*
#menu ul li a:hover{

	text-align: center;
    font-weight: normal;
    text-decoration: none;
    display: block;
    float: left;
    width: 118px;
    height: 60px;
	line-height: 60px;
}
*/

img.menuimage {
	z-index: 10000;
	padding-left: 0px;
}
#menu img a:hover {
	text-decoration: none:
	}


/*logo*/

#logo{
	height: 70px;
	padding-top: 39px;
}

#logo h1 a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

#logo a small{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: normal;
	text-decoration: none;
}

/*
	wrap
*/

#wrap{
	width: 900px;
	margin: 0 auto;
}

.read{
	float: right;
}

.read a{
	background: url(images/more.jpg) no-repeat;
	display: block;
	width: 67px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin-top: 10px;
}

/*
	prew _ box
*/

#prew_box{
	background: #E6E6E6;
	padding: 19px 19px 19px 19px;
}

#prew_box img{
	border: 1px solid #ffffff;
}

#prew_box ul{
	padding-left: 0px;
    list-style: none;
	width: 176px;
	margin: 0 auto;
}

#prew_box ul li{
	display: inline;
}

#prew_box ul li a{
    display: block;
    float: left;
    width: 35px;
    height: 38px;
	background: url(images/prew_but.png) no-repeat center;
}

#prew_box ul li a:hover,  #prew_box ul li .active{
	background: url(images/prew_but_active.png) no-repeat center;
}

/*
	content
*/

#content{
	background: #ffffff;
	padding-top: 5px;
	margin-bottom: 19px;
	padding-bottom: 20px
}

#content p a{
	font-weight: bold;
}

.wrapper {width:100%;overflow:hidden}
.col1, .col2, .col3, .cols {float:left; padding-left: 20px}
.col1 {width:480px}
.col2 {width:480px}
.col3 {width:275px}
.pad_left1 {padding-left:17px}
.pad_left2 {padding-left: 20px}
.pad_bot1 {padding-bottom:20px}
.pad_bot2 {padding-bottom:10px}
.pad_top {vertical-align: middle; padding-bottom: 10px;}
.link1 {padding-right:15px;display:inline-block;background:url(images/marker_1.gif) right 7px no-repeat}
#content .link1 a {color: #033081}
.color1 {color:#033081; font-size: 24px; margin-bottom: -10px; margin-top: 20px;}
.marg_top {margin-top:-15px}
.pad {padding:0 20px}
.list2 {margin:-5px 0}
.list2 li {line-height:30px;padding-left:28px;background:url(images/marker_2.jpg) 0 5px no-repeat; list-style: none}
.list2 li a {color:#033081}
h3 font-size:24px;padding:0 20px;margin:17px 0 20px 0;color:#fff;line-height:51px;font-weight:300}
.pad_left2 H2{color: #033081; padding-top: 20px; margin-bottom: -20px; font-size: 24px}

.col3img {
	float: left;
	text-wrap: normal;
}
/*
	footer
*/

/*
	footer_bot
*/

#footer_bot{
	text-align: center;
	padding: 20px;
	font-size: 10px;
}

#footer_bot a
{
color: #666666
}

/*
scroll styles here
*/

.item { width: 862px; height: 343px;}
.item img {float:left;}
.item h2 { border:none; margin-bottom:15px;}

.scrollable { position:relative; overflow:hidden; width: 862px; height: 343px;} 
.scrollable .items { width:20000em; position:absolute;}
.scrollable .items div { float:left;} 
.scrollable .items .item { overflow:hidden;}
.scrollable .items .item p { line-height:16px;}
.navi { width:auto; height:20px;  margin: 10px 0; padding-left: 400px;} 
.navi a { width: 43px; cursor:pointer; height: 43px; float:left; margin:0 0 0 0px; background:url(images/cloud_icon.png) no-repeat scroll top; display:block; font-size:1px;} 
.navi a:hover, .navi a.active { background-position:left top; margin:0 0 0 0px;  background:url(images/cloud_icon_active.png) no-repeat scroll top}

.header1
{
width: 862px; height: 343px;
}

.header2
{
width: 862px; height: 343px;
}

.header3
{
width: 862px; height: 343px;
}

.header4
{
width: 862px; height: 343px;
}

/* ------------------------------------------------------------------------
DO NOT CHANGE
------------------------------------------------------------------------- */


div.pp_overlay {background: #000;display: none;left: 0;position: absolute;top: 0;width: 100%;z-index: 9500;}
div.pp_pic_holder {display: none;position: absolute;width: 100px;z-index: 10000;}


/* JQuery bubble popup */

.bubbleInfo {
            bottom: 150px;
            left: 100px;
            width: 500px;
        }
        .trigger {
            position: absolute;
        }
     
        /* Bubble pop-up */

        .popup {
        	position: absolute;
        	display: none;
        	z-index: 50;
        	border-collapse: collapse;
			background: #ffffff;
        }

        .popup td.corner {
        	height: 15px;
        	width: 19px;
        }

        .popup td#topleft { background-image: url(images/bubble/bubble-1.png); }
        .popup td.top { background-image: url(images/bubble/bubble-2.png); text-align: center;}
		.popup td.top img { display: block; margin: 0 auto; }
        .popup td#topright { background-image: url(images/bubble/bubble-3.png); }

        .popup td.left { background-image: url(images/bubble/bubble-4.png); }
        .popup td.right { background-image: url(images/bubble/bubble-5.png); }

        .popup td#bottomleft { background-image: url(images/bubble/bubble-6.png); }
        .popup td.bottom { background-image: url(images/bubble/bubble-7.png); }
        .popup td#bottomright { background-image: url(images/bubble/bubble-8.png); }


		

		
		
		
        .popup table.popup-contents {
        	font-size: 12px;
        	line-height: 1.2em;
        	background-color: #fff;
        	color: #666;
        	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
        	}

        table.popup-contents th {
        	text-align: center;
        	text-transform: lowercase;
        	}

        table.popup-contents td {
        	text-align: center;
        	}





/* CSS from Wordpress template */


#main-column {
    margin: 0 auto;
    min-height: 100%;
    width: 960px;
}
#main-column-top {
    display: none;
}
#logo-img-link {
    border: 0 none;
    display: block;
    height: 100px;
    position: absolute;
    text-decoration: none;
    top: 26px;
    z-index: 7;
}
#logo-img-link:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    outline: 0 none;
    text-decoration: none;
}
#logo-img-link img {
    margin: 0;
    padding: 0;
}
#main-column-content {
    padding: 0 20px 20px;
}

.fquery-txt-box {
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    padding: 8px 25px;
    position: relative;
}
.fquery-txt-box p {
    font-size: 13px;
    font-weight: bold;
    margin: 0;
    padding: 6px 0;
}
.burns-backup-image img {
    height: auto;
    padding: 0;
    position: absolute;
    width: 100%;
}
.below-burns-grad {
    background: url("images/bot-alpha-grad.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 54px;
    left: -40px;
    margin-bottom: -54px;
    top: -25px;
    width: 960px;
}
.above-h1 {
    background: url("images/top-bar-bg.png") repeat scroll 0 0 #333333;
    height: 14px;
    position: absolute;
    top: -38px;
    width: 100%;
}
.image-header {
    background-color: #333333;
    left: -40px;
    width: 960px;
}
.image-header-shadow {
    background-image: url("images/image-header-shadow.png");
    background-size: cover;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 960px;
}
.below-image-header {
    background: url("images/bot-alpha-grad.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 54px;
    left: -40px;
    margin-bottom: -54px;
    top: -25px;
    width: 960px;
}
#footer {
    background: none repeat scroll 0 0 #151515;
    border-top: 6px solid #0E0E0E;
    color: #555555;
    font-size: 11px;
    padding: 35px 20px 15px;
}
#footer-top {
    display: none;
}
.hor-center {
    margin: 0 auto;
    text-align: center;
}
.vert-center {
    display: table;
    height: 100%;
}
.vert-center-child {
    display: table-cell;
    vertical-align: middle;
}
h1 {
    color: #444444;
    font-size: 40px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 37px;
    margin-top: 33px;
    text-transform: uppercase;
    top: 1px;
}
h2 {
    color: #333333;
    font-size: 28px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 19px;
    margin-top: -7px;
}
.phone h2 {
    font-size: 30px;
}
h3 {
    color: #333333;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: -6px;
}
.phone h3 {
    font-size: 26px;
}
h4 {
    color: #333333;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2em;
    margin-bottom: 20px;
    margin-top: -5px;
}
.phone h4 {
    font-size: 22px;
}
h5 {
    color: #444444;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 21px;
    margin-top: -3px;
    text-transform: uppercase;
}
h6 {
    border-bottom: 1px solid #DDDDDD;
    color: #444444;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2em;
    margin-bottom: 25px;
    margin-top: -2px;
    padding-bottom: 6px;
    text-transform: uppercase;
}
p {
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: -4px;
}
a {
    border-bottom: 0 none;
    color: #1E2681;
    outline: medium none;
    text-decoration: none;
}



.boxed {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #555555;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 25px 25px 0;
}
.color-boxed {
    border: 1px solid;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 25px 25px 0;
}
.column {
    clear: both;
    margin-left: 0;
    width: 100%;
}
.column-20, .column-25, .column-33, .column-40, .column-50, .column-60, .column-66, .column-75, .column-80, .column-custom {
    
    margin-left: 25px;
    min-height: 25px;
}
.first, .boxed .first {
    margin-left: 0;
}

object {
    display: block;
    outline: medium none;
}

table.main {
    border-collapse: collapse;
    margin: 0 0 25px;
    text-align: left;
    width: 100%;
}
table.main th {
    background: none repeat scroll 0 0 #EAEAEA;
    border-bottom: 0 none;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    color: #111111;
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
}
table.main td {
    background: none repeat scroll 0 0 #F8F8F8;
    border-left: 1px solid rgba(0, 0, 0, 0);
    border-right: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    color: #444444;
    padding: 8px 15px;
}

ol, ul {
    line-height: 17px;
    margin: -6px 0 18px;
    padding-left: 14px;
}
ul li {
    background: url("images/lis/li-dot-wht.png") no-repeat scroll 0 1px rgba(0, 0, 0, 0);
    list-style-type: none;
    padding: 3px 0 2px 25px;
}
ol li {
    margin-left: 21px;
    padding: 3px 0 2px 4px;
}



.bordered-image {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    left: -1px;
    margin-top: 0;
    padding: 6px;
}
.bordered-image img {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.autosize {
    height: auto;
    width: 100%;
}
.textwrap-align-right {
    float: right;
    margin: 0 0 5px 10px;
    z-index: 5;
}
.textwrap-align-left {
    float: left;
    margin: 0 20px 5px 0;
    z-index: 5;
}

iframe {
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 25px;
    width: 100%;
}

#footer h4 {
    color: #555555;
}

.spacer {
    display: block;
    height: 10px;
    width: 100%;
}
.clear {
    clear: both;
    display: block;
    height: 0;
}

.hr {
    border-bottom: 1px solid #FFFFFF;
    border-top: 1px solid #DDDDDD;
    clear: both;
    height: 0;
    margin: 0 0 25px;
    width: 100%;
}
.h1-hr {
    border-top: 1px solid #DDDDDD;
    margin-bottom: 45px;
}
.boxed .hr {
    border-bottom: 0 none;
    border-top: 1px solid #DDDDDD;
}

.shadow-menu {
    background: url("images/menu-shadow.png") no-repeat scroll 0 0 / 120px 100% rgba(0, 0, 0, 0);
    line-height: 1em;
    margin: 0 0 -2px;
}
.shadow-menu ul {
    padding: 14px 0;
}
.shadow-menu li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 0 none;
    padding: 0;
}
.shadow-menu a {
    border: 0 none;
    color: #888888;
    display: block;
    font-size: 12px;
    height: 100%;
    line-height: 14px;
    padding: 6px 0 5px 16px;
}
.shadow-menu.current_page_item a {
    background: url("images/menu-shadow-point-large.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
}
.shadow-menu a:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #222222;
    text-decoration: none;
}
.shadow-menu a.focused:hover {
}
.shadow-menu li:last-child {
    border-bottom: medium none;
}
.alignright {
    text-align: right;
}
.alignleft {
    text-align: left;
}
.aligncenter {
    text-align: center;
}
.phone-only {
    display: none;
}
.tablet-only {
    display: none;
}
.tablet-phone-only {
    display: none;
}
.touch .desktop-only {
    display: none;
}
.phone .desktop-tablet-only {
    display: none;
}
.phone .phone-only {
    display: block;
}
.tablet .tablet-only {
    display: block;
}
.touch .tablet-phone-only {
    display: block;
}
.image-header, .below-image-header {
    display: none;
}

